<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"[formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field hintLabel="Please enter your email">
      <input
        type="email"
        matInput
        placeholder="Your email" formControlName="email">
      <mat-error *ngIf="email.hasError('required')">Missing email</mat-error>
      <mat-error *ngIf="email.hasError('email')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput placeholder="Your password" formControlName="password">
      <mat-hint>Please enter your password</mat-hint>
      <mat-error>Missing password</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Sign Up</button>
  </form>
</section>
